.wrapper {
  display: flex;
  height: 60px;
  align-items: center;
}

.title {
  display: inline-block;
  width: 20%;
  margin: 10px -10px 0 20px;
}

.text {
  width: 80%;
  margin-left: 10px !important;
}
