.delete {
  margin-right: 20px !important;
}

.buttonIcon {
  font-size: 20px !important;
  margin-right: 10px !important;
}

.filter {
  margin-right: 20px !important;
}

.filterText {
  position: absolute;
  left: 5px;
  top: -27px;
  margin: 0;
}

.filterInput__textInput {
  width: 200px;
}
