.wrapper {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}

.action {
  position: relative;
  height: 40px;
  width: 93vw;
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.table {
  height: calc(91% - 70px);
  width: 93vw;
  margin: 20px auto 0 auto;
}

