.wrapper {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}

.action {
  position: relative;
  width: 90vw;
  margin: 15px auto 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.table {
  height: calc(91% - 80px);
  width: 90vw;
  margin: 20px auto 0 auto;
}
