.wrapper {
  width: 94.5vw;
  height: calc(99% - 64px);
  display: flex;
}

.userinfo {
  width: calc(100% - 300px);
  height: 100%;
  margin: 0 20px 0 20px;
}

.memo {
  width: 250px;
  height: 100%;
}
