.wrapper {
  width: 100%;
  height: calc(99% - 75px);
  display: flex;
}

.userinfo {
  width: calc(100% - 400px);
  height: 100%;
  margin: 0 35px 0 35px;
}

.memo {
  width: 300px;
  height: 100%;
}
