.wrapper {
  width: calc(100% - 50px);
  height: calc(100% - 90px);
  border-top: 1px solid #0000001f;
  padding: 20px;
}

.action {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 40px;
}

.body {
  height: calc(100% - 30px);
  overflow-y: scroll;
}

/* test 入力項目 */
.item {
}

.title {
  display: inline-block;
  width: 20%;
  margin: 0 -15px 0 15px;
}

.text {
  width: 80%;
}