.wrapper {
  width: calc(100% - 50px);
  height: calc(100% - 90px);
  border-top: 1px solid #0000001f;
  padding: 10px 20px 20px 20px;
}

.action {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  align-items: center;
  height: 40px;
}

.body {
  height: calc(100% - 30px);
  overflow-y: scroll;
}
