.container {
  display: flex;
  height: calc(100% - 49px);
  border-top: 1px solid #0000001f;
}

.list {
  width: 160px;
  height: 100%;
  border-right: 1px solid #0000001f;
}

.detail {
  flex: 1;
  padding: 10px 30px 20px 20px;
}
