.title {
  width: 100%;
}

.template {
  margin-top: 20px !important;
  width: 100%;
}

.message {
  margin-top: 40px !important;
  width: 100%;
  height: 300px;
}

.priorityTitle {
  margin-top: 20px;
  display: block;
  transform: translate(0, 1.5px) scale(0.75);
}

.remaingChar {
  margin-top: 10px;
  text-align: right;
}
